body {
    font-family: 'PT Serif Caption', serif;
    height: 100%;
}

.active_lang, .top-active_lang{
    border-bottom: 2px solid #fff;
}

.top {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    position: relative;
    overflow: hidden;
    .fullscreen{
        background: url(../images/Shape.png);
        background-size: 100%;
        display: flex;
        // min-height: 100vh;
        overflow: hidden;
        .fullscreen-body{
            width: 100%;
            background-image: url(../images/top.png);
            .top-lang-and-logo{
                background-color: rgba(1, 1, 10, 0.6);
                text-align: center;
                height: 140px;
                width: 100%;
                display: flex;
                position: relative;
                #top-lang-change{
                    display: flex;
                    position: absolute;
                    top: 38%;
                    left: 3%;
                    li{
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-family: 'PT Sans', sans-serif;
                        }
                    }
                    li:first-child{
                        &:after{
                            content: "\23D0";
                            position: absolute;
                            height: 1px;
                            width: 5px;
                            color: #fff;
                            right: 24px;
                        }
                    }
                    li:last-child{
                        margin-left: 12px;
                    }
                }
                .header-logo {
                    margin: 0 auto;
                    img{
                        max-height: 102px;
                        max-width: 518px;
                        margin-top: 18px;
                    }
                }

            }
            .header-imgs {
                width: 100%;
                height: 440px;
                position: relative;
                // margin: 0 auto;
                text-align: center;
                .header-imgs-wrapper{
                    width: 100%;
                    .image{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                    }
                    .co {
                        img{
                            max-width: 712px;
                            height: auto;
                        }
                    }
                    .girl {
                        top: 175px;
                        z-index: 8;
                        right: 10px;
                        img{
                            max-width: 306px;
                            height: auto;
                        }
                    }
                    .book {
                        top: 290px;
                        z-index: 9;
                        left: 50px;
                        img{
                            max-width: 380px;
                            height: auto;
                        }
                    }
                    .clouds {
                        top: 305px;
                        left: 100px;
                        z-index: 7;
                        img{
                            max-width: 620px;
                            height: auto;
                        }
                    }
                    .mouse {
                        top: 315px;
                        right: 25px;
                        z-index: 10;
                        img{
                            max-width: 800px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    
    .click-block {
        overflow: hidden;
        height: 66px;
        background: radial-gradient(circle, rgba(37, 37, 37, 0), rgba(43, 43, 43, 0.6));
        display: flex;
        bottom: 10px;
        position: absolute;
        width: 100%;
        z-index: 10;
        margin: 0;
        .download-links {
            display: flex;
            flex-direction: row;
            padding: 10px;
            a {
                padding: 0 0 0 20px;
                img {
                    max-width: 156px;
                    height: auto;
                }
            }
        }
        .social-links {
            padding: 20px;
            display: flex;
            // flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            a {
                padding: 0 5px;
                img {
                    max-width: 22px;
                    max-height: 22px;
                }
            }
        }
    }
}


.content {
    .content-body {
        background: url(../images/content-bg.png);
        background-repeat: repeat;
        .container {
            max-width: 900px !important;
        }
    }
}


.content {
    overflow: hidden;
    .content-body {
        .content-body_block1 {
            margin-top: 24px;
            .row {
                div {
                    width: 100%;
                    img {
                        max-width: 400px;
                        max-height: 185px;
                    }
                }
            }
        }
        .content-body_block2 {
            .row {
                margin: 20px 0 0 0;
                .content-logo {
                    margin: 0 auto;
                    // width: 100%;
                    img{
                        max-width: 289px;
                        max-height: 57px;
                    }
                }
                .content-imgs {
                    margin: 0 auto;
                    .content-imgs__central-img{
                        max-width: 124px;
                        max-height: 124px;
                    }
                    img {
                        margin: 0 15px;
                        max-width: 80px;
                        max-height: 80px;
                    }
                }
                p {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    margin-top: 24px;
                }
                p:last-child{
                    margin-top: 18px;
                }
            }
        }
        .content-body_block3 {
            .row {
                div {
                    width: 100%;
                    img {
                        max-width: 400px;
                        max-height: 185px;
                    }
                }
            }
            p{
                margin: 0 auto;
                margin-bottom: 16px;
                margin-top: 44px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0.5px;
                text-align: center;
            }
        }
    }
}


.links {
    overflow: hidden;
    text-align: center;
    background-color: #EDF5FF;
    padding: 40px 0;
    .download-links-bottom {
        a {
            img {
                padding: 0 15px;
                max-width: 213px;
                height: auto;
            }
        }
    }
}


footer {
    overflow: hidden;
    width: 100%;
    height: 104px;
    background-color: #2C2F4A;
    .wrapper {
        line-height: 108px;
        .mobile-stores-and-lang {
            .icons-and-lang{
                display: flex;
                flex-direction: row;
                .mobile-stores{
                    a{
                        img{
                            max-width: 26px;
                            max-height: 21px;
                        }
                    }
                }
                #social{
                    display: flex;
                    flex-direction: row;
                    margin-left: 20px;
                    position: relative;
                    li{
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-family: 'PT Sans', sans-serif;
                        }
                    }
                    li:first-child{
                        &:after{
                            content: "\23D0";
                            position: absolute;
                            height: 1px;
                            width: 5px;
                            color: #fff;
                            right: 24px;
                        }
                    }
                    // li:last-child{
                    //     margin-left: 5px;
                    // }
                }
            }
            padding-left: 25px;
            a {
                margin-left: 10px;
            }
        }
        div {
            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                // line-height: 19px;
                letter-spacing: 0.5px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .social-links-footer {
            display: flex;
            justify-content: flex-end;
            padding-right: 45px;
            a {
                margin-left: 10px;
                img{
                    max-width: 22px;
                    max-height: 22px;
                }
            }
        }
    }
}

// -----------------------  MEDIA QUERY  ---------------------------------------------------

@media screen and (max-width: 768px){
    #top-lang-change{
        display: none !important;
    }
    .top-lang-and-logo{
        height: 100px !important;
        .header-logo{
            img{
                margin-top: 6px !important;
            }
        }
    }
    .header-imgs.container {
        height: 350px !important;
        .co{
            top: 30px;
            img {
                width: 90%;
            }
        }
        .girl {
            top: 130px !important;
            left: 10px !important;
            img {
                width: 45% ;
            }
        }
        .book {
            top: 203px !important;
            left: 58px !important;
            img {
                width: 65% ;
            }
        }
        .clouds {
            top: 200px !important;
            left: 30px !important;
            // img {
            // }
        }
        .mouse {
            top: 223px !important;
            left: -153px !important;
            // img {
            // }
        }
    }
    .content-body_block1, .content-body_block3{
        .row{
            text-align: center;
            div:nth-child(2){
                margin-top: 20px;
            }
            div{
                img{
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }
    .content-body_block2{
        .content-imgs {
            text-align: center;
            img {
                padding: 0 15px;
            }
        }
    }
    .click-block{
        width: 103%;
        .download-links{
            display: flex;
            justify-content: space-around;
            padding: 15px !important;
            a{
                img{
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
    .social-links{
        display: none !important;
    }

    
    .wrapper.row {
        .mobile-stores-and-lang {
            .icons-and-lang {
                .mobile-stores {
                    display: none !important;
                }
            }
        }
    }
    footer{
        .wrapper{
            line-height: 0;
            div{
                text-align: center;
            }
            .mobile-stores-and-lang{
                padding: 0;
                .icons-and-lang{
                    position: relative;
                    #social{
                        position: absolute;
                        top: 34px;
                    }
                }
            }
            div:nth-child(2){
                margin-top: 30px;
            }
            .social-links-footer{
                display: block;
                padding: 0;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 540px){
    .content-imgs__central-img{
        max-width: 80px !important;
        max-height: 80px !important;
    }
    #social{
        top: 70px !important;
    }
    .links {
        .download-links-bottom {
            display: flex !important;
            flex-direction: column !important;
            a:nth-child(2) {
                margin-top: 10px;
            }
        }
    }
    .header-imgs.container {
        height: 270px !important;
        .co{
            top: 75px;
            img {
                width: 80%;
            }
        }
        .girl {
            top: 125px !important;
            left: 10px !important;
            img {
                width: 35% ;
            }
        }
        .book {
            top: 180px !important;
            left: 40px !important;
            img {
                width: 45% ;
            }
        }
        .clouds {
            top: 200px !important;
            // left: -20px !important;
            // img {
            // }
        }
        .mouse {
            top: 195px !important;
            left: 10px !important;
            img {
                width: 90%;
            }
        }
    }
    .click-block{
        display: none !important;
    }
    .top .fullscreen {
        .fullscreen-body {
            .top-lang-and-logo{
                .header-logo {
                    height: 80px;
                    img {
                        height: 82px;
                        width: 418px;
                        margin-top: 8px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px){
    .links{
        padding: 15px 0 !important;
    }
    .links .download-links-bottom a img {
        max-width: 170px !important;
    }
    .top-lang-and-logo{
        height: 70px !important;
        .header-logo{
            height: 100%;
            img{
                height: 64px !important;
                width: 280px !important;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .top-lang-and-logo{
        // height: 80px !important;
        .header-logo{
            img{
                height: 74px !important;
                width: 300px !important;
            }
        }
    }
    .header-imgs.container {
        height: 210px !important;
        .co{
            top: 25px;
            img {
                width: 90%;
            }
        }
        .girl {
            top: 100px !important;
            left: 10px !important;
            img {
                width: 40%;
            }
        }
        .book {
            top: 152px !important;
            left: 36px !important;
            img {
                width: 45%;
            }
        }
        .clouds {
            top: 135px !important;
            left: 30px !important;
            img {
                width: 70%;
            }
        }
        .mouse {
            top: 165px !important;
            left: 10px !important;
            img {
                width: 90%;
            }
        }
    }
}